body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    background-image: url(../imges/images.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(#b296ec, #29088b); */
    /* color:white; */
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 600px;
    height: 300px;
    text-align: center;
}

.card-image img {
    width: 50%;
    height: 50%;

    margin-top: 68px;
    border-radius: 50%;

}

.card-content {
    padding-top: 55px;
}

.card-content h2 {
    margin: 0;
    font-size: 24px;
    color:white;
}

.card-content p {

    margin: 5px 0;
    color:rgb(209, 193, 193);
}

.card-content a {
    /* color: #007BFF; */
    text-decoration: none;
}

.card-content a:hover {
    text-decoration: underline;
}

.line-1{

background-color: chartreuse;
    width: 0.2px;
    height: 300px;
}

.card::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 40px;
    bottom: 40px;
    width: 2px;
    
    background: linear-gradient(#4a5dee, #2c0899);
}